[Unit]
Description=Apache Kafka server (broker)
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target remote-fs.target 
After=network.target remote-fs.target

[Service]
Type=simple
User=kafka
Group=kafka
Environment=JAVA_HOME=/etc/alternatives/jre
ExecStart=/usr/bin/kafka-rest-start /kafka/etc/rest-proxy.properties 
ExecStop=/usr/bin/kafka-rest-stop

[Install]
WantedBy=multi-user.target