[Unit]
Description=Kafka Connect distributed
After=network.target kafka.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=kafka
Group=kafka
LimitNOFILE=100000
LimitNPROC=100000
Environment=KAFKA_OPTS=-Djava.security.auth.login.config=/kafka/etc/kafka-plain-jaas.conf
Environment="KAFKA_HEAP_OPTS=-Xms512m -Xmx3g"
Environment=KAFKA_LOG4J_OPTS=-Dlog4j.configuration=file:/kafka/etc/connect-distributed-log4j.properties
ExecStart=/usr/bin/connect-distributed /kafka/etc/connect-distributed.properties
