[Unit]
Description=Apache Kafka server (broker)
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target remote-fs.target 
After=network.target remote-fs.target 

[Service]
Type=simple
User=kafka
Group=kafka
LimitNOFILE=100000
LimitNPROC=100000
Environment=JAVA_HOME=/etc/alternatives/jre
Environment="KAFKA_OPTS=-javaagent:/kafka/prometheus/jmx_prometheus_javaagent-0.6.jar=7071:/kafka/etc/kafka-prometheus.yml -Djava.security.auth.login.config=/kafka/etc/kafka-plain-jaas.conf"
Environment=LOG_DIR=/kafka/log
ExecStart=/usr/bin/kafka-server-start /kafka/etc/kafka.properties
ExecStop=/usr/bin/kafka-server-stop

[Install]
WantedBy=multi-user.target
