[Unit]
Description=Kafka Mirror Maker
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
EnvironmentFile=/kafka/etc/mirrormaker.env
ExecStart=/usr/bin/kafka-mirror-maker --consumer.config ${MIRRORMAKER_CONSUMER_PROP} --producer.config ${MIRRORMAKER_PRODUCER_PROP} --whitelist=${MIRRORMAKER_WHITELIST}
Type=simple
User=kafka
Group=kafka
SuccessExitStatus=143
